
.orgNav{
    width: 100vw;
    max-width: 100%;
    background-color: rgba(255, 255, 255, .2);
    z-index: 1000;
}
.logoImg{
    width: 5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.itemArea{
    visibility: hidden;
}
.hambArea{
    margin-left: 1rem;
}
.hambButton{
    color: white;
    font-size: 22px;
}
.hambNav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}
.closeDropDown{
    color: white;
    font-size: 22px;
    margin-left: 1rem;
}
.itemHambArea{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 
}
.itemHamb{
    padding-top: 0.5rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    text-decoration: none;
    margin-left: 1rem;
}

@media(min-width: 1024px){
    .orgNav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .logoImg{
        width: 6.5rem;
        margin: 0.3rem;
        margin-left: 1.5rem;
    }
    .itemArea{
        margin-right: 1.5rem;
        margin-top: 1.6rem;
        visibility: visible;
    }
    .hambArea{
        display: none;
    }
    .itemNav{
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        margin-right: 18px;
        font-weight: 550;
        color: rgb(255,255,255)
    }
    .itemNav:hover{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
        padding: 0px 3px;
        font-weight: 600;
        box-shadow: 4px 2px 2px rgba(90, 90, 90, 0.3);
    }
}